.login-body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-window{
    border: 2px white solid;
    border-radius: 5px;
    padding: 20px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    text-align: center;
}